<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MotoSalon</title>
    <link href="~/css/master.css" rel="stylesheet">
</head>
<body>
    <header id="header-top" class="top-header">
        <div class="container">
            <div class="top-header__main wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">

            </div>
        </div>
    </header><!--top-header-->
    <nav class="top-nav">
        <div class="container">
            <div class="top-nav__main">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <a href="/Home/Index" class="logo">
                            <span class="logo__moto">
                                <img src="~/img/logo.svg" alt="logo">
                            </span>
                            <h2 class="logo__title">
                                BIKER<span>Shop</span>
                            </h2>
                        </a>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="main-nav navbar-main-slide">
                            <a href="#" class="btn_header_search main-nav__search no-decoration">
                                <span class="fa fa-search"></span>
                            </a>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <ul class="collapse navbar-collapse navbar-nav-menu" id="nav">
                                <li class="dropdown">
                                    <a class="no-decoration dropdown-toggle" data-toggle="dropdown" href="/Home/Index">Главная <i class="fa fa-angle-down"></i></a>
                                
                                </li>
                                <li><a class="no-decoration" href="/Home/About">О нас</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="/ShopCart/Index">Корзина</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="/Moto/Moto">Мотоциклы</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="/Home/Contacts">Контакты</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav><!--top-nav-->

    <div class="container">
        @RenderBody()
    </div>
    <footer class='map-footer'>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="copyright wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <p>&copy; Copyrights 2015 by <span>Templines</span> | <span>BikerClub. </span> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
    </footer>
</body>
</html>
