<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MotoSalon</title>
    <link href="~/css/master.css" rel="stylesheet">
</head>
<body>
    <header id="header-top" class="top-header">
        <div class="container">
            <div class="top-header__main wow slideInDown" data-wow-delay="0.7s" data-wow-duration="1.5s">
       
            </div>
        </div>
    </header><!--top-header-->
    <nav class="top-nav">
        <div class="container">
            <div class="top-nav__main">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <a href="home-main.html" class="logo">
                            <span class="logo__moto">
                                <img src="~/img/logo.svg" alt="logo">
                            </span>
                            <h2 class="logo__title">
                                BIKER<span>Shop</span>
                            </h2>
                        </a>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="main-nav navbar-main-slide">
                            <a href="#" class="btn_header_search main-nav__search no-decoration">
                                <span class="fa fa-search"></span>
                            </a>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <ul class="collapse navbar-collapse navbar-nav-menu" id="nav">
                                <li class="dropdown">
                                    <a class="no-decoration dropdown-toggle" data-toggle="dropdown" href="home-main.html">Home <i class="fa fa-angle-down"></i></a>
                                    <span class="main-nav__separator"><span></span><span></span><span></span></span>
                                    <ul class="dropdown-menu">
                                        <li><a href="home-main.html">Home 1</a></li>
                                        <li><a href="home.html">Home 2</a></li>
                                        <li><a href="home2.html">Home 3</a></li>
                                    </ul>
                                </li>
                                <li><a class="no-decoration" href="about.html">About us</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="shop.html">Offer</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="article.html">Services</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="item.html">Listings</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="blog.html">Blog</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="contacts.html">Contact</a><span class="main-nav__separator"><span></span><span></span><span></span></span></li>
                                <li><a class="no-decoration" href="shop.html">Shop</a></li>
                            </ul>
                            <div class="search-form-modal transition">
                                <form class="navbar-form header_search_form">
                                    <i class="fa fa-times search-form_close"></i>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn_search customBgColor">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav><!--top-nav-->

    <div class="container">
        <h1>Самые популярные</h1>
        @RenderBody()
    </div>
    <footer class='map-footer'>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="copyright wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
                            <p>&copy; Copyrights 2015 by <span>Templines</span> | <span>BikerClub. </span> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="to-top" href="#header-top"><i class="fa fa-chevron-up"></i></a>
    </footer>
</body>
</html>
