@model ShopCartViewModel

    <div class="container">
        @foreach (var item in Model.shopCart.listShopItems)
        {
            <div class="alert alert-warning mt-3">
                <b>Мотоцикл: </b> @item.moto.Name <br />
                <b>Цена: </b> @item.moto.Price <br />
            </div>
            <a class="btn btn-danger" asp-controller="ShopCart" asp-action="RemoveFromCart" asp-route-id="@item.Id">Удалить</a>
        }
        <hr />
        <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оформление</a>
    </div>