@model ShopCartViewModel

    <div class="container">
        @foreach (var item in Model.shopCart.listShopItems)
        {
        <div class="alert alert-warning mt-3">
            <b>Мотоцикл: </b> @item.moto.Name <br />
            <b>Цена: </b> @item.moto.Price <br />
        </div>
        }
    <hr />
    <a class="btn btn-danger" asp-controller="Order"  asp-action="Checkout">Оплатить</a>
</div>