@model MotoViewModel
@addTagHelper "*, SUBDCOURSE"

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-control" })

        @*<label class="control-label">Категория: </label>
            @Html.DropDownList("category", Model.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })*@

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table table-striped">
    @foreach (Moto u in Model.AllMoto)
    {
        @Html.Partial("AllMoto", u)

    }
</table>