@model IndexViewModel
@addTagHelper "*, SUBDCOURSE"

<h1>Мотоциклы</h1>

<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.PriceSort">
                Цена
            </sort-header>
        </th>
    </tr>


</table>


@foreach (Moto u in Model.Motos)
{
    @Html.Partial("AllMoto", u)

}