<div class="about-info">
    <h2>Сайт разработан в целях демонстрации работы с БД</h2>
    <ul>
        <li>Написан на asp.net cor</li>
        <li>Использована БД MSSQL</li>
        <li>EntityFrameworkCor</li>
    </ul>
</div>